body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
  padding-bottom: 150px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 900;
  font-size: 48px;
}

h3 {
  font-weight: 600;
}

p {
  color: #8f8f8f;
}

/* Navigation bar */
.navbar {
  padding: 0 0 55px;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.nav-item {
  padding: 0 15px;
  font-weight: 200;
  color: #fff;
  font-weight: 400;
}

.nav-link {
  font-size: 18px;
}

/* Buttons */
.download-button {
  margin-top: 50px;
  margin-right: 10px;
}

/* title-image */
.title-image {
  width: 60%;
  transform: rotateZ(30deg);
  position: absolute;
}

/* Features */
#features {
  padding: 8% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding-right: 10%;
  padding-top: 10%;
}

.image-color {
  color: #ef8172;
  padding-bottom: 6%;
}

.image-color:hover {
  color: #ff4c68;
}

/* Testimonial */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 8% 15%;
}

.testimonial-image {
  width: 150px;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 4%;
}

/* Press */
#press {
  text-align: center;
  background-color: #ef8172;
}

.press-image {
  width: 200px;
  margin: 0 3% 3% 3%;
  padding-bottom: 4%;
}

/* PRICING */
#pricing {
  padding: 3% 15%;
  text-align: center;
}

.pricing-h2 {
  font-weight: 800;
  font-size: 48px;
}

.pricing-coloum {
  padding: 3% 2%;
}

.h3-pricing {
  font-weight: 700;
}

/* cta */
#cta {
  padding: 8% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.h3-cta {
  font-weight: 900;
  padding: 5%;
  font-size: 48px;
}

/* footer */
#footer {
  padding: 5% 15%;
  text-align: center;
}

.social-icon {
  margin: 0 10px 15px;
}

/* For Mobile */
@media (max-width: 1000px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotateZ(0deg);
    padding-top: 50px;
  }

  .testimonial-text {
    font-size: 32px;
  }

  .testimonial-image {
    margin-bottom: 60px;
  }
}
